<!DOCTYPE html>
<html>
  <head>
    <title>Travel Journal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>

  
  <div class="container">
      <% @user = User.find_by({ "id" => session["user_id"] }) %>
        <% if @user == nil %>
            <a href="/users/new">Signup</a>
            |
            <a href="/login">Login</a>
        <p><%= flash["notice"] %></p>
        <% else %>
          Logged in as: <%= @user["username"] %>
          |
          <a href="/logout">Logout</a>
        <% end %>
    </div>

    <%= yield %>
</html>
